.aboutBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.picBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profilePic {
  border-radius: 100%;
  height: 20vw;
  object-fit: contain;
  margin-right: 15px;
}

.profilePic:hover {
  animation: pic 10s infinite linear;
}

.badge {
  width: 70%;
  max-width: 500px;
  margin: auto;
}

@keyframes pic {
  0% {
    transform: rotate(0deg);
    translate: 0px 0px;
  }
  10% {
    translate: 2px 0px;
  }
  20% {
    translate: 2px 2px;
  }
  30% {
    transform: rotate(3deg);
    translate: 4px 1px;
  }
  40% {
    translate: 4px 3px;
  }
  50% {
    transform: rotate(0deg);
    translate: 3px 0px;
  }
  60% {
    translate: 2px 4px;
  }
  70% {
    transform: rotate(-3deg);
    translate: 3px 3px;
  }
  80% {
    translate: 1px 4px;
  }
  90% {
    translate: 2px 2px;
  }
  100% {
    transform: rotate(0deg);
    translate: 0px 0px;
  }
}

@media screen and (max-width: 800px) {
  .aboutBody {
    flex-direction: column-reverse;
    align-items: center;
  }
  .profilePic {
    margin-top: 1em;
    height: 30vw;
  }
}
