form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

input, textarea {
  margin: 1em;
  width: 50%;
  border-radius: 10px;
  background-color: var(--first-color);
  color: var(--second-color);
  padding: .2em;
}

button {
  transition: .1s;
  width: fit-content;
  padding: .5em;
  margin: 1em;
  border: 2px solid var(--first-color);
  border-radius: 10px;
  background-color: var(--second-color);
  color: var(--first-color)
}

button:hover {
  transition: .1s;
  width: fit-content;
  padding: .5em;
  margin: 1em;
  border-radius: 10px;
  background-color: var(--first-color);
  color: var(--second-color)
}