form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

input {
  margin: 1em;
  width: 50%;
  border-radius: 10px;
  background-color: var(--first-color);
  color: var(--second-color);
  padding: .2em;
}

button {
  width: 10%;
  padding: .2em;
  margin: 1em;
  border: 2px solid var(--first-color);
  border-radius: 10px;
  background-color: var(--second-color);
  color: var(--first-color)
}