.experience {
  padding-top: 2em;
}

.experienceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experienceTitle {
  min-width: fit-content;
  margin-right: 0.5em;
}

.experienceStacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 2vw;
}

.iconImg {
  width: 4vw;
  margin: 0.25em;
  height: auto;
}

@media screen and (max-width: 800px) {
  .iconImg {
    width: 7vw;
  }
}
