.menuBurger {
  margin-right: 1em;
  border: 5px solid var(--first-color);
  background-color: var(--second-color);
  color: var(--first-color);
  height: 10vw;
  width: 10vw;
  max-height: 200px;
  max-width: 200px;
  font-family: var(--first-font);
}
