.menuBurgerDiv {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.menuBurger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  color: var(--first-color);
  height: fit-content;
  width: 10vw;
  font-family: var(--first-font);
}

.menuBurger div {
  width: 7vw;
  min-width: 3em;
  height: 0.5em;
  border-radius: 5px;
  background-color: var(--first-color);
  margin-top: 3vh;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-height: 800px) {
  .menuBurger div {
    margin-top: 1vh;
  }
}

@media screen and (max-width: 800px) {
  .menuBurger div {
    width: 3vw;
    margin-top: 1vh;
  }
}

#toggle {
  display: none;
}

#toggle:checked + .menuBurger .topBun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .menuBurger .bottomBun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .menuBurger .meat {
  transform: rotate(45deg);
  margin-top: -0.5em;
}
