.project {
  padding-top: 5em;
  padding-bottom: 10vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.projectTitle {
  min-width: fit-content;
  margin-right: 0.5em;
}

.projectStacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  margin-left: 1em;
}

.stackImg {
  width: 4vw;
  margin: 0.25em;
  height: auto;
}

.projectBody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
  align-items: center;
}

.projectText {
  grid-column: 1 / 4;
}

.paragraph:nth-child(2n + 1) {
  margin-left: 15vw;
}

.projectGallery {
  position: relative;
  margin: 1em 0;
  height: fit-content;
  width: 30vw;
  max-width: 500px;
  grid-column: 4 / 6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
  justify-self: center;
  width: calc(100% - 1rem);
  margin-right: 1rem;
}

.blur {
  backdrop-filter: blur(2%);
  background-color: var(--second-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picButton {
  width: max-content;
  height: max-content;
  border: none;
  background: none;
}

.modalPic {
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
  height: max-content;
  max-height: 70vh;
  max-width: 100%;
  object-fit: contain;
}

.galleryButtons {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.activePic {
  cursor: pointer;
  border-radius: 20px;
  width: fit-content;
  max-width: 80%;
  height: auto;
  justify-self: center;
  align-items: center;
  cursor: pointer;
}

.imgButton {
  padding: 0;
  width: 20%;
  border: none;
  background-color: var(--second-color);
}

.projectPic {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.projectsLinks {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.seeMore {
  cursor: pointer;
  min-width: fit-content;
  transition: 0.3s;
  padding: 0.5em;
  border: 5px solid var(--first-color);
  color: var(--first-color);
  width: 15vw;
  height: fit-content;
  font-size: 1rem;
  background-color: var(--second-color);
  border-radius: 10px;
  font-family: var(--first-font);
}

.seeMore:hover {
  min-width: fit-content;
  transition: 0.3s;
  padding: 0.5em;
  background-color: var(--first-color);
  color: var(--second-color);
  width: 15vw;
  height: fit-content;
  font-size: 1rem;
  font-family: var(--first-font);
}

.iconImg {
  transition: 0.3s;
  width: 6vw;
}

.iconImg:hover {
  transition: 0.3s;
  scale: 1.2;
}

@media screen and (max-width: 800px) {
  .project {
    padding-top: 3em;
    padding-bottom: 15vh;
  }

  .projectHeader {
    margin-bottom: 1vh;
  }

  .stackImg {
    width: 7vw;
  }

  .projectBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraph:nth-child(2n) {
    margin-left: 4em;
  }

  .paragraph:nth-child(2n + 1) {
    margin-left: 1em;
  }

  .projectGallery {
    margin: 2em 0;
    width: 80vw;
  }

  .modalPic {
    border-radius: 20px;
    cursor: pointer;
    width: 500px;
    max-width: 90vw;
    max-height: 70vh;
    object-fit: contain;
  }

  .projectsLinks {
    margin-top: 5vh;
  }

  .seeMore {
    font-size: 1em;
    height: fit-content;
    width: 20vw;
  }

  .seeMore:hover {
    font-size: 1em;
    height: fit-content;
    width: 20vw;
  }

  .iconImg {
    width: 15vw;
  }
}

@media screen and (max-height: 800px) {
  .projectGallery {
    margin: 2em 0;
    width: 60vw;
  }
}
