.project {
  margin-top: 5em;
}

.projectHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projectTitle {
  min-width: fit-content;
  margin-right: .5em;
}

.projectStacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: .5em;
}

.projectStacks p {
  margin: .5em;
}

.projectsLinks {
  display: flex;
  align-items: center;
}

.iconImg {
  width: 5vw;
  height: auto;
  }