.project {
  padding-top: 5em;
}

.project:not(:last-child) {
  border-bottom: 5px dotted var(--first-color);
  padding-bottom: 5em;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.projectTitle {
  min-width: fit-content;
  margin-right: .5em;
}

.projectStacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 2vw;
  margin-left: 1em;
}

.stackImg {
  width: 6vw;
  margin-right: .5em;
  height: auto;
  }

.projectBody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
  align-items: center;
}

.projectText {
  grid-column: 1 / 5;
}

.projectGallery {
  display: grid;
  grid-column: 5 / 6;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(20, 2vh);
}

.projectPic1 {
  position: relative;
  z-index: 3;
  grid-column-start: 1;
  grid-row-start: 1;
  border-radius: 10px;
  width: 15vw;
  margin-right: 5vw;
}

.projectPic2 {
  position: relative;
  z-index: 2;
  grid-column-start: 2;
  grid-row-start: 2;
  border-radius: 10px;
  width: 15vw;
  margin-right: 5vw;
}

.projectPic3 {
  position: relative;
  z-index: 1;
  grid-column-start: 3;
  grid-row-start: 3;
  border-radius: 10px;
  width: 15vw;
  margin-right: 5vw;
}

.projectPicLarge1{
  border-radius: 20px;
  position: absolute;
  z-index: 6;
  height: 60vh;
  justify-self: center;
  align-items: center;
}

.projectPicLarge2{
  border-radius: 20px;
  position: absolute;
  z-index: 5;
  height: 60vh;
  justify-self: center;
  align-items: center;
}

.projectPicLarge3{
  border-radius: 20px;
  position: absolute;
  z-index: 4;
  height: 60vh;
  justify-self: center;
  align-items: center;
}

.seeMore {
  min-width: fit-content;
  transition: .1s;
  padding: .5em;
  border: 5px solid var(--first-color);
  width: 15vw;
  height: fit-content;
  font-size: 1rem;
}

.seeMore:hover {
  min-width: fit-content;
  transition: .1s;
  padding: .5em;
  background-color: var(--first-color);
  color: var(--second-color);
  width: 15vw;
  height: fit-content;
  font-size: 1rem;
}

.projectsLinks {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.iconImg {
  width: 8vw;
}