.socialIcons {
  margin-top: 5vh;
  padding: 1em 0 3em 0;
  display: flex;
  justify-content: space-around;
}

.socialIcon {
  transition: .3s;
  width: 10vw;
  max-width: 7vh;
}

.socialIcon:hover {
  transition: .3s;
  scale: 1.2;
  max-width: 7vh;
}