* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  width: 100%;
  --first-color: #95d5b2;
  --second-color: #081c15;
  --first-font: "Righteous", cursive;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--first-color);
  background-color: var(--second-color);
  font-family: var(--first-font);
}

nav {
  padding: 1em;
  border-bottom: 5px solid var(--first-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.separation {
  border-top: solid 1px var(--first-color);
  width: 50%;
  margin: 5rem auto;
}

h1 {
  font-size: calc(1em + 5vw);
  margin-top: 1rem;
  margin-left: 10vw;
  margin-right: 5vw;
}

p {
  font-size: calc(1em + 1vw);
  max-width: 25ch;
  margin-top: 2rem;
  margin-left: 25vw;
  margin-right: 5vw;
}

/* .drops {
  position: absolute;
} */

